/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}

.nav-pills .nav-link {
    color: #555;
}

#myTab .nav-link.active {
    position: relative;
    background-color: #ad1457 !important;
    color: white;
}
.error {
    color: red;
}




  